@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    border: 8px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 8px solid white;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

.modal-enter {
    transform: translateY(100%);
}

.modal-enter-active {
    transform: translateY(0);
    transition: transform 300ms;
}

.modal-exit {
    transform: translateY(0);
}

.modal-exit-active {
    transform: translateY(100%);
    transition: transform 300ms;
}

.disclaimer {
    font-size: 0.8em;
    margin-bottom: 20px;
    color: #777;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.breadcrumb-stepper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
  }
  .step {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #000; 
  }
  .step.active {
    background-color: #3b7eef;
    color: #ffff;
  }